{% extends 'base.html' %}

{% block title %}Step by step guide to become green taxi driver{% endblock %}

{% block content %}
    <div id='guide'>
        <h2>Step by step guide</h2>
        <hr>
        <div id='shl_permit_wrap'>
            <h3>Step 1 - SHL permit</h3>
            <p>First you need SHL permit, if you have one already you can move on to next step.
                If you dont have one you need to get on waiting list of appointment request for permits sold
                in Year Two. That starts on June 6, 2014.</p>
        </div>

    </div>
{% endblock %}
